body{
	font-size: 16px;
	color: #111;
	font-family: 'Besley', serif;
	background-image: url("2796790(1).jpg");
}

/* ------header------ */
#header-nav {
	background-color: #222222;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url("nitap.png") no-repeat;
	width: 100px;
	height: 100px;
	margin: 10px 10px 10px 0px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

#nav-list {
  margin-top: 5px;
}

#nav-list a {
  text-align: center;
  line-height: 5px;
}

#nav-list a:hover {
  background: #FFFAF0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #5858d9;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* ----end of header ----*/

/*-----home page-------*/

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid .jumbotron {
    background: url("lnd1.jpeg") no-repeat;
    width: 640px;
    height: 600px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 4.8vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p {
    font-size: .4em;
    margin-top: 6px;
  }
  #collapsable-nav a {
    font-size: 1.2em;
  }
  .navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -10px;
  }
  .container-fluid .jumbotron {
    margin-top: 5px;
    padding: 0;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    margin: 5px 5px 5px 0;
  }
  .container-fluid .jumbotron {
    background: url("lnd1.jpeg") no-repeat;
    width: 640px;
    height: 600px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }
}


/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-brand h1 {
    font-size: 2em;
  }

  .container-fluid .jumbotron {
    background: url("lnd1.jpeg") no-repeat;
    width: 640px;
    height: 600px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }
}
