* {
    box-sizing: border-box;
}

body{
     font-family: cursive;
     margin: 15px 30px;
     padding: 8px;
}

.container{
   padding: 8px;
   width: 100%; 
}

.c{
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea{
    width:100%;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.main {
    flex-basis: 31%;
    background: #e6dbac;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(230, 219, 172);
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5%;
    padding: 20px 12px;
    padding-top: 20px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-left: 12px;
    box-sizing: border-box;
}
.main1{
    border: 5px;
    padding: 4px;
    margin: 10px;
    background-color:rgb(230, 219, 172) ;
    border-radius: 10px;
}


.main3{
    border: 5px;
    padding: 4px;
    margin: 10px;
    background-color:rgb(230, 219, 172) ;
    border-radius: 10px;
}

p{
    padding: 4px;
}

img{
    border: white solid 3px;
    border-radius: 5px;
    object-fit: contain;
    align-self: center;
}

h1{
    text-align: center;
}

body{
    background-color: rgb(218, 226, 225);
}

input[type="submit"]{
    width: 100%;
    background-color: violet;
}